{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
{% if request.user.is_superuser %}
<a href="upload-csv/">Upload Attendance spreedsheet</a>
<br><br>
<a href="upload-men-csv/">Upload Men Attendace spreedsheet</a>
<br><br>
<a href="upload-women-csv/">Upload Women Attendace spreedsheet</a>
<br><br>
<a href="upload-youth-csv/">Upload Youth Attendace spreedsheet</a>
<br><br>
<a href="upload-children-csv/">Upload Children Attendace spreedsheet</a>
{% endif %}
{{ block.super }}
{% endblock %}